
:host{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../images/sprout_background.png");
    background-position:center;
}
.main {
    background-color: #A4BA9a;
    text-align: center;
    width: 1500px;
    height: 700px;
    margin: 4em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.row {
    display: flex;
}
  
.column {
    flex: 50%;
    background-color: #C6DFBB;
    border-radius: 1.5em;
    margin: 1em;
    text-align: left;
    vertical-align: center;
    height: 666px;
}
input[type=text1] {
    padding: 7px 7px 7px;
    border-radius: 10px;
    font-size: xx-large;
    opacity: 0.75;
    background-color: #ddecd6;
    border-color: #ddecd6;
}
input[type=text2] {
    padding: 7px 7px 7px;
    border-radius: 10px;
    font-size: large;
    opacity: 75%;
    background-color: #ddecd6;
    border-color: #ddecd6;
}
.profile-setup-banner {
    opacity: 75%;
}
.textarea-inline-control {
  padding: 7px 7px 7px;
  border-color: #bbb;
  background-color: #ddecd6;
  border-radius: 10px;
  resize: none;
  font-size: large;
  opacity: 0.75;
}
.fill{
    margin: 2ex;
}
.dropdown{
    width: 75%;
}
.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.text-center {
    text-align: center;
}
/* .Address {
    font-size: large;
} */


mat-grid-tile {
    border: 1px solid #c6dfbb;
}
.rightSide {
    float:right;
}
.imagezone {
    text-align: center;
}
.dropzone {
    height: 150px;
    width: 300px;
    min-width: 100px;
    display: table;
    border: dashed 1px #aaa;
    border-radius: 30px 30px 30px 30px;
    background-color: #ddecd6;
}
.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.text-center {
    text-align: center;
    opacity: 0.75;
}
.browse-button {
    cursor: pointer;
    color: #ff4081;
}
.remove-button-image {
    position: absolute;
    cursor: pointer;
    top: -5%;
    background-color:#ff4081;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}.preview_button_area,
.submit_button_area {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 1em; /* optional, use if you want to add space between the buttons */
}
.container_buttons {
    display: flex;
    justify-content: space-between;
  }
.submit_button {
  right: 2em;
  bottom: 2em;
  position: absolute;
  background-color: #ff4081;
  color: white;
  border-color: #ff4081;
  display: inline-block;
  border-radius: 1em;
  font-size: large;
  cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  
  
  .popup {
    background-color: #A4BA9a;
    text-align: center;
    width: 1500px;
    height: 700px;
    margin: 4em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);


    /* margin: 70px auto; */
    padding: 20px;
    /* background: #fff; */
    /* border-radius: 5px; */
    /* width: 30%; */
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ff4081;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 70%;
    }
  }




.row1 {
    display: flex;
}
  
.column1 {
    flex: 25%;
    background-color: #C6DFBB;
    border-radius: 1.5em;
    margin: 1em;
    text-align: left;
    vertical-align: center;
    height: 666px;
    position: relative;
}
.column2{
    flex: 75%;
    background-color: #C6DFBB;
    border-radius: 1.5em;
    margin: 1em;
    text-align: left;
    vertical-align: center;
    height: 666px;
    overflow-y: auto;
}

.buisTags {
  white-space: nowrap;
  border-radius: 1em;
  height: 95%;
  float: right;
  margin-right: 1em;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buisTags .nextImg {
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_mid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
 .buisTags2 {
  background-color: #ff4081;
  display: inline-block;
  white-space: nowrap;
  border-radius: 1em;
  height: 95%;
  text-align: center;
  /* margin: 10%; */
  margin-right: 1em;
  font-size: large;
}
.img2_parent {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 70%;
  height: 70%;
}

.img2 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.nextImg_3{
    padding: 5px 10px; 
  background-color: #ff4081; 
  color: white; border: none; 
  border-radius: 4px; 
  font-size: small;  
}
.nextImg_2 {
  padding: 5px 10px; 
  background-color: #ff4081; 
  color: white; border: none; 
  border-radius: 4px; 
  font-size: small; 
}
.nextImg {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px 20px; 
  background-color: #ff4081; 
  color: white; border: none; 
  border-radius: 4px; 
  font-size: 16px; 
  cursor: pointer;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Asap", sans-serif;
    background-color: #fdfdfe;
  }
  header {
    width: 100%;
    /* height: 40vh; */
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;   
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  header .header-1{
    background-image: repeating-radial-gradient(farthest-side at 5px 5px,#435042, #A4BA9a, #435042);
  }
  /* .address {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
  } */
  .address {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  .buisnessDescription {
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  .preview_button_area, .submit_button_area {
    position: absolute;
    bottom: 0;
  }
  
  .preview_button_area {
    right: 7em;
  }
  
  .submit_button_area {
    right: 7em;
    bottom: 2em; /* add some padding to prevent overlapping */
  }