<h1 mat-dialog-title *ngIf = "isError; else positiveMsg">Error Message:</h1>
<ng-template #positiveMsg>
    <h1 mat-dialog-title>Submission Confirmation: </h1>
</ng-template>
<div mat-dialog-content >
    <!--Which one to display is decided at component creation-->
    <!--Done as if/else statements to do more error checking-->
    <div  class = "message" type = "User" *ngIf = "displayUserWrong; else box1"> 
        An account with those credentials does not exist in our system. Please try again or register an account.
    </div>
    <ng-template  #box1>
        <div class = "message" type = "Pass" *ngIf = "displayPassWrong; else box2"> 
            Invalid Password, please try again with valid credentials
        </div>  
    </ng-template>
    <ng-template  #box2>
        <div class = "message" type = "Email" *ngIf = "displayEmailWrong; else box3">
            Invalid email, please try again with a valid email address. If email adress valid, it is already in use
        </div>
    </ng-template >
    <ng-template  #box3>
        <div class = "message" type = "NotMatch" *ngIf = "displayNotMatch; else box4">
            Please make sure your passwords match before submitting 
        </div>
    </ng-template >
    <ng-template  #box4>
        <div class = "message" type = "UserUsed" *ngIf = "displayUserUsed; else box5">
            Username already in use. Please register with a different username
        </div>
    </ng-template >
    <ng-template  #box5>
        <div class = "message" type = "DataSub" *ngIf = "displayDataSub; else box6">
            Profile data saved!
        </div>
    </ng-template >
    <ng-template  #box6 class = "message" type = "NotSpecified"> Some type of error happened IDK dog</ng-template >
</div>
<div mat-diaglog-actions>
    <button class = "button" mat-button (click) = "closeDialog()" cdkFocusInitial> Ok </button>
</div>
